

<div id="contentPrincipal" class="content" ng-controller="DashboardController" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6" ng-repeat="item in resumeData">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div  class="icon-big  text-center {{item.classImgStatus}}">
                                    <i class="{{item.classImg}}"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>{{item.name}}</p>
                                    {{item.value}}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i  class="{{item.classIcon}}"></i> {{item.infoUpdate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12" ng-show="atualizacaoGraficoDistribuicaoDia">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Distribuição de ingressos por dia</h4>
                        <p class="category">Performance nos últimos 30 dias</p>
                    </div>
                    <div class="content">
                        <canvas id="graficoDistribuicaoDiaNovo" width="400" height="400"></canvas>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> {{atualizacaoGraficoDistribuicaoDia}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" ng-show="atualizacaoGraficoEntradaEvento">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Fluxo de entrada de pessoas por hora</h4>
                        <p class="category">Performance nas últimas horas</p>
                    </div>
                    <div class="content">
                         <canvas id="graficoEntradaPessoasNovo" width="400" height="400"></canvas>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> {{atualizacaoGraficoEntradaEvento}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ingressos por categoria</h4>
                        <p class="category">Veja a relação de ingressos por tipo de categoria</p>
                    </div>
                    <div class="content">
                        <canvas id="graficoIngressosPorCategoria" width="200" height="200"></canvas>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i> {{atualizacaoGraficoIngressoPorCategoria}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Distribuição de ingressos por categoria</h4>
                        <p class="category">Total de ingressos distribuidos por cada categoria</p>
                    </div>
                    <div class="content">

                        <canvas id="graficoDistribuicaoPorCategoriaNovo" width="200" height="200"></canvas>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="ti-check"></i> {{atualizacaoGraficoDistrubuicaoPorCategoria}} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

