

<style type="text/css">
    
    .noBorderInput input{ border: 0px; }
    .inputDataPadrao { width: 200px; }

    .colTitulo {height: 40px; background: #F6F6F6; border: 1px solid #F3F3F3; text-align: center; font-size: 1.2em;}
    .colConteudo {height: 30px;border: 1px solid #F3F3F3;}

</style>

<div class="content">
    <div class="container-fluid">

        <form name="formEvento" ng-controller="EventoCadastroController as eventoCtrl" >
                    
            <div class="alert alert-success" style="margin: 10px;" role="alert" ng-show="eventoCtrl.msg">{{eventoCtrl.msg}}</div>
            <div class="alert alert-success" style="margin: 10px;" role="alert" ng-show="eventoCtrl.msgEnd">{{eventoCtrl.msgEnd}}</div>

            <div class="alert alert-danger" style="margin: 10px;" role="alert" ng-show="eventoCtrl.msgErro">{{eventoCtrl.msgErro}}</div>



             <div class="row">

                <div class="col-lg-7 col-md-12">
                
                    <div class="card">

                        <div class="header">
                               <h4 class="title">Informações sobre o evento</h4>
                        </div>
                        

                        <div class="content">
                            
                        
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtTitulo">Título do evento</label>
                                        <input id="txtTitulo" type="text" class="form-control border-input" ng-model="eventoCtrl.evento.titulo" placeholder="Ex.: Show Sertanejo" required  ng-disabled="desabilitar" />
                                        <span class="help-block has-error">
                                            <span ng-show="formEvento.txtTitulo.$error.required">Título é obrigatório</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label id="txtDescricao">Descrição</label>
                                        <textarea class="form-control border-input" rows="4" id="txtDescricao" ng-model="eventoCtrl.evento.descricao"  ng-disabled="desabilitar"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Data</label>
                                        <datepicker date-format="dd/MM/yyyy" ng-model="eventoCtrl.evento.data" selector="form-control" ng-disabled="desabilitar" >
                                                <div class="input-group">
                                                    <input class="form-control  border-input" ng-model="eventoCtrl.evento.data" placeholder="Selecione uma data" ng-disabled="desabilitar"  />
                                                    <span class="input-group-addon border-input" style="cursor: pointer; border-left: 1px solid;">
                                                    <i class="fa fa-lg fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </datepicker>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                         <label>Data término</label>
                                          <datepicker date-format="dd/MM/yyyy" ng-model="eventoCtrl.evento.dataTermino" selector="form-control"  ng-disabled="desabilitar">
                                                <div class="input-group">
                                                    <input class="form-control  border-input"  ng-disabled="desabilitar" ng-model="eventoCtrl.evento.dataTermino" placeholder="Selecione uma data"/>
                                                    <span class="input-group-addon border-input" style="cursor: pointer; border-left: 1px solid;">
                                                    <i class="fa fa-lg fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </datepicker>

                                       <!--   <datepicker>
                                            <input ng-model="eventoCtrl.evento.dataTermino" date-format="DD/MM/YYYY" type="text"/>
                                        </datepicker> -->
                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-5 col-md-12">
                
                    <div class="card">

                        <div class="header">
                                <h4 class="title">Endereço</h4>
                        </div>

                        <div class="content">
                        
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Logradouro</label>
                                        <input id="txtEndereco" type="text" class="form-control border-input" ng-model="eventoCtrl.endereco.logradouro" placeholder="Ex.: Rua Felicidade" ng-disabled="desabilitar" />
                                            
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input id="txtNúmero" type="text" class="form-control border-input" ng-model="eventoCtrl.endereco.numero" placeholder="Ex.: 100" ng-disabled="desabilitar"/>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Complemento</label>
                                        <input id="txtComplemento" type="text" class="form-control border-input" ng-model="eventoCtrl.endereco.complemento" placeholder="Ex.: Apto 101" ng-disabled="desabilitar" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bairro</label>
                                        <input id="txtBairro" type="text" class="form-control border-input" ng-model="eventoCtrl.endereco.bairro" placeholder="Ex.: Centro" ng-disabled="desabilitar" />
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input id="txtCidade" type="text" class="form-control border-input" ng-model="eventoCtrl.endereco.cidade" placeholder="Ex.: Belo Horizonte" ng-disabled="desabilitar" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <input id="txtCidade" type="text" class="form-control border-input" ng-model="eventoCtrl.endereco.estado" placeholder="Ex.: MG" ng-disabled="desabilitar" />
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>


            </div>



            <div class="col-lg-12 col-md-12">
                
                    <div class="card">

                         <div class="content">


                            <div class="header">
                                <h4 class="title">Configurações sobre ingressos</h4>
                            </div>


                             <div class="content">
                            
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tipoIngresso">Tipo de ingresso</label>
                                            <br />
                                            <select name="tipoIngresso" id="tipoIngresso" class="form-control border-input" ng-model="eventoCtrl.configuracao.tipoIngresso" ng-disabled="desabilitar" style="width: 100%">
                                                <option value="">Selecione ...</option> 
                                                <option ng-repeat="tipo in tiposDeIngressos" value="{{tipo.id}}">{{tipo.nome}}</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="precoIngresso">Preço</label>
                                            <input id="precoIngresso" type="number" class="form-control border-input" ng-model="eventoCtrl.configuracao.preco" disabled />
                                            
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="qtdTotalIngressos">Total de ingressos</label>
                                            <input id="qtdTotalIngressos" type="number" class="form-control border-input" ng-model="eventoCtrl.configuracao.quantidadeTotal" ng-disabled="desabilitar" />
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="qtdMaxPessoaIngressos">Máximo de ingressos por pessoas</label>
                                            <input id="qtdMaxPessoaIngressos" type="number" class="form-control border-input" ng-model="eventoCtrl.configuracao.quantidadeMaxPorPessoa" ng-disabled="desabilitar" />
                                        </div>
                                    </div>
                                </div>



                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Data início das vendas</label>
      
                                       

                                         <datepicker date-format="dd/MM/yyyy" ng-model="eventoCtrl.configuracao.dataInicioVendas" selector="form-control" ng-disabled="desabilitar">
                                                <div class="input-group">
                                                    <input class="form-control  border-input" placeholder="Selecione uma data" ng-model="eventoCtrl.configuracao.dataInicioVendas" ng-disabled="desabilitar" />
                                                    <span class="input-group-addon border-input" style="cursor: pointer; border-left: 1px solid;">
                                                    <i class="fa fa-lg fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </datepicker>

                                           
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                             <label>Data término das vendas</label>
                                             
                                            <datepicker date-format="dd/MM/yyyy" ng-model="eventoCtrl.configuracao.dataTerminoVendas" selector="form-control" ng-disabled="desabilitar">
                                                <div class="input-group">
                                                    <input class="form-control  border-input" ng-disabled="desabilitar" ng-model="eventoCtrl.configuracao.dataTerminoVendas" placeholder="Selecione uma data"/>
                                                    <span class="input-group-addon border-input" style="cursor: pointer; border-left: 1px solid;">
                                                    <i class="fa fa-lg fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </datepicker>

                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-hide="disabilitar">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success" ng-click="adicionarConfig()" >Adicionar configuração</button>
                                        </div>
                                    </div>
                                </div>


                                <div class="container-fluid">
                                    <div class="row" >
                                        <div class="col-md-5 colTitulo">Tipo do ingresso</div>
                                        <div class="col-md-2 colTitulo">Total</div>
                                        <div class="col-md-2 colTitulo">Início vendas</div>
                                        <div class="col-md-2 colTitulo">Término vendas</div>
                                        <div class="col-md-1 colTitulo"X</div>
                                    </div>
                                    <div class="row"  ng-repeat="config in eventoCtrl.configuracoes">
                                        <div class="col-md-5 colConteudo">{{config.tipoIngresso}}</div>
                                        <div class="col-md-2 colConteudo">{{config.quantidadeTotal}}</div>
                                        <div class="col-md-2 colConteudo">{{config.dataInicioVendas | date: 'dd/MM/yyyy'}}</div>
                                        <div class="col-md-2 colConteudo">{{config.dataTerminoVendas | date: 'dd/MM/yyyy'}}</div>
                                        
                                        <div class="col-md-1 colConteudo" style="text-align: center;" ng-hide="desabilitar"> 
                                            <button ng-click="removerConfig(config)" type="button" class="btn-default" aria-label="Left Align" style="border:0px;">
                                                <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>  
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
            </div>


            <div class="row text-center" ng-hide="disabilitar">
                <button type="submit" class="btn btn-success" ng-click="submit()" >Salvar</button>
            </div>
            <div class="clearfix"></div>



        </form>


    </div>
</div>




      